<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function del(id) {
            var f = document.getElementById("form")
            f.action="/dept/"+id;
            f.submit();
        }
    </script>
</head>
<body>

<h1>添加数据</h1>
<form action="dept" method="post">
    <input name="name">
    <input type="submit" value="添加">
</form>

<h1>修改数据</h1>
<form action="dept" method="post">
    <input type="hidden" name="_method" value="put">
    <input name="name">
    <input type="submit" value="修改">
</form>
<h1>删除数据</h1>
1 aaa <input type="button" value="删除" onclick="del(1)">
2 bbb <input type="button" value="删除" onclick="del(2)">
3 ccc <input type="button" value="删除" onclick="del(3)">
4 ddd <input type="button" value="删除" onclick="del(4)">
<form method="post" id="form">
    <input type="hidden" name="_method" value="delete">
</form>
</body>
</html>